<!-- Comments list partial for post page -->
<ul class="list-group">
    <% post.comments.forEach(comment=> { %>
        <li class="list-group-item">
            <small class="text-muted">
                <%= comment.author?.userName %>, <%= new Date(comment.createdAt).toLocaleDateString() %>
            </small>
            <p>
                <%= comment.content %>
            </p>

            <!-- If user is the author of the comment, show delete button -->
            <% if (user?.id && user.id === comment.authorId) { %>
                <div class="mt-2 d-flex gap-2">
                    <form action="/posts/<%= comment.post.id %>/comment/<%= comment.id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            <% } %>
        </li>
    <% }) %>
</ul>