<!-- Post View -->
<div class="row my-2">
    <div class="col-md-10 mx-auto">

        <div class="card">
            <div class="card-body">

                <div class="d-flex flex-row justify-content-between">
                    <h1 class="card-title">
                        <%= post.title %>
                    </h1>

                    <% if (user && user.id===post.authorId) { %>
                        <div class="d-flex gap-2">
                            <form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
                                <button type="submit" class="btn btn-danger">Delete Post</button>
                            </form>
                        </div>
                        <% } %>
                </div>

                <p class="card-text">
                    <%= post.author?.userName %>
                </p>
                <p class="card-text">
                    <%= new Date(post.createdAt).toLocaleDateString() %>
                </p>
                <p class="card-text">
                    <%= post.content %>
                </p>

            </div>
        </div>
    </div>
</div>

<!-- Comments Section -->
<div class="row my-2">
    <div class="col-md-10 mx-auto">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Comments</h2>
                <form action="/posts/<%= post.id %>/comment/new" method="POST">
                    <div class="mb-3">
                        <label for="addComment" class="form-label">Add a comment</label>
                        <textarea name="content" id="addComment" class="form-control" rows="3"></textarea>
                        <button type="submit" class="btn btn-primary" id="submitComment" disabled>Add Comment</button>
                    </div>

                </form>
                <%- include('./commentsList', { post }) %>
            </div>
        </div>
    </div>
</div>

<script>
    // Handle comment editing functionality
    document.addEventListener('DOMContentLoaded', function () {

        const textarea = document.getElementById('addComment');
        const button = document.getElementById('submitComment');
        console.log(textarea)
        textarea.addEventListener('input', () => {
            console.log(textarea.value)
            button.disabled = textarea.value.trim() === '';
        });

    }); 
</script>